{
    "presets": [
        ["@babel/preset-env", {
            "exclude": [
                "transform-regenerator",
            ]
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-modules-amd", {
            "noInterop": false
        }],
        ["@babel/plugin-transform-runtime", {
            "absoluteRuntime": false,
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "version": "^7.14.5",
            "useESModules": true,
            "modules" : false
        }],
        ["@babel/plugin-transform-classes"]
    ],
    "assumptions": {
        "constantSuper": true,
        "noClassCalls": true,
        "setClassMethods": true,
        "superIsCallableConstructor": false
    }
}
